
/*DESATIVAR PARA MOBILE*/
nav,#dados-menu,.bi-search,
#logodesk,.fundo-pesquisa,.ativar-lupa{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.headermob{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: normal;
    background-color: #0c212d;
    height: 90px;
    width: 100%;
    margin: 0;

}

/* menu desativado */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin: 0;
    position: fixed;
    z-index: 2;
    background-color:#0c212d;
}
#icone-menu,.config-logo,.config-lupa{
    transform: translateY(-20px);
}



/*
.ativarscrols - > Fundo do menu interátivo
config-menu - configuração do icone menu
*/

/*SISTEMA MENU ICON MOB*/
#icone-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    padding: 20px;
}
.config-menu{
    z-index: 2;
}

.seçao-menu{
display: flex;
flex-wrap: wrap;
width: 100%;
}

.config-fechar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    transform: translateY(10px);
}
#icone-fechar-menu{
    display: flex;
    justify-content: right;
    font-size: 58px;
    color: white;
    width:50%;
    margin-left: -150px;
}
#logotipo-menu{
    display: flex;
    justify-content: right;
    width: 50%;
    transform: scale(0.7);
    padding:20px;
}

.menu-catalogo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding: 20px;
}
#pagina-menu{
    display: flex;
    justify-content:left;
    align-items: left;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    width: 80%;
}

/*REDES SOCIAIS ICON MOB*/
.menu-redesociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid white;
    padding: 20px;
}
#menu-icone-redes{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 40px;
    margin-top: 20px;
    background-color: #0310179b;
    width: 90%;
}
#texto-menu-redesociais{
    display: flex;
    justify-content:left;
    align-items: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*REDES SOBRE NÓS MOB*/
.menu-sobrenos{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    border-top: 1px solid white;
    padding: 20px;
}
#sobrenos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
#dados-sobrenos{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color: #0794d3;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin-top:20px ;
}






/*SISTEMA LOGOTIPO ICON MOB*/
#logomob{

    transform: scale(0.8);
}


/*SISTEMA PESQUISA ICON MOB*/
#icone-lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    height: 60px;
    width:40%;
    transform: translateX(-15px);
}
.seçao-lupa{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    transform: translateY(-40px);
    background-color: red;
  
}
.fundo-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;

}
#mob-inputpesquisa{
    font-size: 18px;
    padding: 15px;
    min-width: 70%;
    border-radius: 60px;
}
#close-menu-lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 10px;
}
.mob-lupapesquisa{
    display: none;
    width: 100%;
}
.mob-dadoslupa{
    width: 100%;
    background-color: white;
    padding: 15px;
    margin-top: 2px;
    margin-left: -30px;
    font-size: 18px;
    list-style: none;
    color: black;
    top: 0;
}
.mob-dadoslupa:hover{
    background-color: #0794d3;
}
/* ATIVAR O INPUT*/
.ativar-seçao-lupa{
    display: flex;
    flex-direction: column;
    background-color: #0c212d;
    margin-left: -25px;
}
.ativar-pesquisa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0c212d;
  
}




/*TEXTO INFORMÁTIVO*/
.header-infor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    top: 0;
    position: relative;
    padding: 0px;
    margin-top: 0px;
}
#header-sub{
    font-size: 20px;
    padding: 10px;
    color: white;
    margin: 0;
}
#header-sup{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
}

/*SISTEMA DE PESQUISA DOIS MOBILE*/
.fundo-inputmob{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0c212d;
    width: 100%;
    height: 60px; 
    padding: 10px;
    margin-top: 20px;
    overflow-y: hidden;
    z-index: 2;
}
/*ATIVAR INPUT*/
.ativar-inputmob{
    height: 100%;
    margin-top: 20px;
}
.lupa-pesquisamobum{
    display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   transform: translateX(-5px);
  cursor: pointer;



}
.dados-lupamobum{
    width: 100%;
    background-color: white;
    padding: 15px;
    margin-top: 2px;
    margin-left: -30px;
    font-size: 18px;
    list-style: none;
    color: black;
    top: 0;

}
#inputmob{
    padding: 15px;
    font-size: 21px;
    width: 80%;
    border-radius: 40px;
}































a{
    text-decoration: none;
    color: black;
}


#fundo-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    background-color: transparent;
    overflow: hidden;
    color:white;
    transition: .2s;
}
#pesquisa-principal{
    font-size: 18px;
    padding: 15px;
    min-width: 90%;
    border-radius: 60px;
    background-color: white;
    color: black;
}



/*MAIN VENDA*/

.mainvenda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 0px;
    background-color: #0c212d;
}

.form{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    border: 0px;
    background-color: #0c212d;
}
#nome,#email,#tel,#pedido-envio,#preço-envio{
    margin-top: 25px;
    width: 90%;
    height: 40px;
    font-size: 25px;
    border-radius: 25px;
    padding: 5px;
    outline: 0;
    border: 0;
    transition: 0.5s;
}
#pedido-envio,#preço-envio{
    display:none;
}
#nome:focus,
#email:focus,
#tel:focus{
    transition: 0.5s;
    font-size: 22px;
    padding: 10px;
}
#btn{
    margin-top:20px;
    width: 50%;
    font-size: 30px;
    outline: 0;
    border: 0;
    padding: 8px;
    border-radius: 25px;
    background-color: #0794d3;
    color: white;
    transition: 0.5s;
}
#btn:hover{
    border-bottom: 8px solid #0794d3;
    background-color: #0c212d;
}

#titulo-cadastro{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
#texto-cadastro{
    width: 80%;
    margin: 0;
    transform: translateY(-15px);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(229, 229, 229);
}
#titulo-duvidas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
#titulo-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 100%;
    color: green;
}
#contato-duvidas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
#fale{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    border: 0;
    padding: 15px;
    background-color: #0794d3;
    color: white;
}
#fale:hover{
    background-color: #0c212d;
}