body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateY(240px);
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.blocdesk{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cont-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.292);
    border: 0px;
    padding: 10px;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;
}

#img-produtocont{
    width: 250px;
    height:350px;
}

.cont-textoproduto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%; 
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;  
}

.conttitulo-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;     
    width: 100%; 
    height: 100px;   
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;    
}

#titulo-produtocont{
    font-weight: bold;
    font-size: 25px;
}

.infor-vendas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;    
    margin-top: -30px;
}

.autorcont{
    font-weight: bold;
    font-size: 18px;
    color: #1c1c1c;;
}

.avaliativocont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#icons-avalia{
    font-size: 20px;
    padding-right: 4px;
    color: orange;
}

#text-avalia{
    font-size: 20px;
}

.equipecont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #1c1c1c;
}






















.infor-produto{
    display: flex;
    width: 100%;
}
#contpagamento-produto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    
    width:50%;
    height: 300px;
    padding: 10px;

}

#conttextopagamento-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}


.bloco-inforproduto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 40%;
    margin-top: -20px;
}

#icone-infor{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 80px;
    padding: 10px   ;
    font-size:35px ;
    color: #0C212D;
}
#text-infor{
    margin-top: -20px;
}









#contoferta-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: -20px;
    width: 100%;   
}
#contpreco-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;    
    margin-top: -40px;
}

#contcomprar-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #031620 ;
    width: 50%;
    padding: 20px;
    border-radius:60px;
    background-color: #FBB03B ;
    border:2px solid #FBB03B;
    font-size: 20px;
    font-weight: bold;
    margin-top: -60px;
}

#contcomprar-produto:hover{
    border: 2px solid #FBB03B;
    background-color: #031620;
    color: white;
}

#camp-ebookum{
    font-size: 20px;
    font-weight: bold;
    color: #0C212D;
}
#camp-ebookdois{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 0px;
    font-weight: bold;
    color: #0C212D;
}



.blocdesktwo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top:10px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}


.cont-sinopse{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;  

}
.fundo-titulosinopse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 10px;
    padding-right:20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;  
    margin-top: -0px;
    padding: 10px;
}


#text-sinops{
    display: flex;
    width: 100%;
    height: 72%;
    text-wrap: wrap;
    word-break: break-all;
    padding: 10px;

    margin: 0px;

}








.cont-descriçao{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;  
}
.fundotext-topico{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 10px;
    padding-right:20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;  
    margin-top: -0px;
    color: black;

}
.list-topicos{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    word-break: normal;
    margin-top: 0px;
}
#dados-topicos{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: bold;
}


section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    color: black;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px; 
}

.back-sectionum{
    color: black;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px; 
    width:40% ;
    background-color: #FBB03B;
}


.texto-sectionum{
    display: flex;
    justify-content:space-between;
    width: 90%;
    color: #0C212D;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;

} 

.sectionum-imagem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px; 
}
#sectionum-img{
    width: 300px;
    height: 350px;
    border: 6px solid #0316208e;  
    border-radius: 10%;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px;  
}
.fim-categoria{
    width: 100%;
}
#fim-categoria{
    min-width: 80%;
    height: 50%;
}







.back-sectiondois{
    background-color:#0C212D;
    padding: 10px;
    height: 100%;
    width: 100%;
    box-shadow:rgba(0, 0,0,0.24) 0px 4px 3px 0px; 
    color: white;
}

.menu-blococampanhassection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid #FBB03B;
    padding: 1rem;
}

#texto-menucampanhassection{
    font-size: 20px;
    color: white;
}

.passesection{
    display: flex;
    font-size: 40px;
    color: white;
}
.section-primeiro{
    display: flex;
    background-color: #0C212D;
    color: white;
}
.fundo-categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}










