
.desk-pesquisa,.desk-nav,#img-logotipodesk,.desk-icones,.desk-login{
    display: none;
}
.mob-menu,.mob-pesquisa,#img-logotipomob{
    display: flex;
}
header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


/*// MENU MOBILE //*/
.config-menumob{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
    position: absolute;
    background-color:white;
    transform: translateY(550px);
    margin: 0;
    overflow-y: auto;
}
.ativarconfig-menumob{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
    position: absolute;
    background-color:white;
    transform: translateY(550px);
    margin: 0;
    overflow-y: auto;
}
.sectionmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #0c212d;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
    border-bottom: 2px solid #0c212d;

}
#texto-sectionmenu{
    font-size: 25px;
    font-weight: bold;
}
#closemenu{
    font-size: 40px;
    color: white;
}


/*// lOGOTIPO //*/
.desk-logotipo{
    margin: 0;
}



/* LUPA GERAL */
.mob-login, .mob-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#icone-loginmob{
    font-size: 37px;
    color: white;
}


/* PESQUISA MOB */
.config-pesquisamob{
    display: flex;  
    flex-direction: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    top: 0;
    border: 5px solid #FBB03B;
    margin: 0;
    transform: translateX(-10px);

}
.pesquisa-mob{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 40px;
    background-color: white;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#mobinput-pesquisa{
    width: 80%;
    border: 0px;
    font-size: 25px;
    border: 0px;
}
#mobinput-pesquisa:focus{
    outline:none;
    border: 0;
}
#icone-fazerpesquisaamob{
    color: #FBB03B;
    font-size: 30px;
    margin-left: 9px;
    
}
#icone-fecharpesquisaamob{
    display: none;
    color: #FBB03B;
    font-size: 30px;
    margin-left: 9px;
    
}



/* LUPA CONFIGURAÇÃO */

.config-blocopesquisamob{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color:white;
    width: 100%;
    z-index: 2;
    margin-top: 60px ;
}


/*
// LUPA lISTA
*/

.li-pesquisadesk{
    display: flex;
    width: 100%;
    height:210px;
    border-bottom:3px solid black;
    margin: 0;
    transform: translateX(-20px);
    padding: 10px;
}
.fundo-imgpesquisadesk{
    padding: 10px;
    width: 80%;
}
#img-inputdesk{
    width: 100%;
    height: 190px;
}
.fundo-textopesquisadesk{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0px;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    color: #031620;
    font-weight: bold;
    margin: 0;
}
#titulo-inputdesk{
    width: 100%;
    font-size: 18px;
}
#autor-inputdesk{
    display: none;
    width: 100%;
    font-size: 14px;
    margin-top: -20px;
}
#preco-inputdesk{
    width: 70%;
    font-size: 28px;
    transform: translateY(-25px) translateX(-10px); 
}
#btn-pesquisacomprardesk{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBB03B;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    height: 10%;
    color: #031620;
    font-size: 20px;
    transform: translateY(-60px);
}


















.sectionmenunav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
    transform: translateY(-180px);

}
#dados-sectionmenunav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 22px;
    width: 80%;
    padding-left:10px ;
    padding-right: 40px;
    padding-top: 10px;
    transform: translateY(-20px);
    padding: 10px;
    color: #0c212d;
    font-weight: bold;
}
#dados-sectionmenunav:hover{
    background-color: #FBB03B;
}
#dados-sectionmenunav:focus{
    background-color: #FBB03B;
}
#menuicone-menu{
    font-size: 25px;
    font-weight: bold;
    transform: translateX(30px);
}

.sectionmenuredes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
    transform: translateY(-280px);
    box-shadow: rgba(0, 0, 0, 0.863) 0px 2px 8px 0px;
}

#titulo-menuredes{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    padding-left:10px ;
    font-size: 25px;
    color: #0c212d;
    font-weight: bold;
}