/*CATEGORIA PRODUTO*/

.produto-isolado{
    transform: translateY(-500px);
}
.produto-categoria{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transform: translateY(570px);
    margin-top: 100px;
}
#linha{
    width: 50%;
}


/* FUNDO PRODUTOS */


.fundo-produtos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding:40px;
    transform: translateY(550px);
    z-index: 2;
}
.bloco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:230px;
    height:445px;
    border: 1px solid #00000059;
    padding:14px;
    margin: 8px;  
    z-index: 3;
    margin-top: 50px;
}
.img-fundo{
    width: 210px;
    height: 260px;
    padding: 10px;
    filter: drop-shadow(8px 0 8px #00000059)
}

#titulo-produto{
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 50px;
    font-weight: normal;
    padding: 8px;
    text-transform: capitalize;
}
#desconto-produto{
    transform: translateY(-35px) translateX(-22px);
    font-size: 16px;
    width: 80px;
}
#preço-produto{
    font-size: 25px;
    font-weight: bold;
    color:#0794d3;
    transform: translateY(-40px);
}
#carrinho-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10px);
    font-size: 17px;
    color: white;
}
#botao-compra{
    display: flex;
    justify-content: center;
    align-items: center;
    width:190px;
    height:40px;
    background-color: #0794d3;
    font-size: 19px;
    border:2px solid #0794d3;
    border-right:none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-48px);
    padding: 15px;
    text-transform:uppercase;
}
#botao-compra:hover{
    background-color:#0c212d;
}



/*VEJA MAIS*/
.vejamais{
    display: flex;
    justify-content: center;
    position: relative;
   font-size: 18px;
    background-color:#0794d3;
    width: 20%;
    transform: translateY(20px);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-transform:uppercase;
}
.vejamais:hover{
    background-color: #0c212d;
  
}

